<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopIt!</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>ShopIt!</h1>
    <h2>Grocery Checklist</h2>
    <h3>ShopIt! is the easiest way to create shareable grocery shopping lists.</h3>
    <a href="/login"> Login</a>
    <p> or </p>
    <a href="/signup"> Signup</a>
</body>
</html>